.exchange {
  text-align: center;

  &__title {
    position: relative;
    display: inline-block;
    text-transform: uppercase;

    &::after {
      content: "";
      height: 1px;
      width: 4rem;
      position: absolute;
      bottom: -1rem;
      left: 50%;
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      background-color: #009861;
    }
  }

  .form-group {
    margin-bottom: 0;
  }

  .currency {
    &__input {
      height: 100%;

      &:focus {
        &::placeholder {
          opacity: 0;
        }
      }
    }

    &__code {
      &::after {
        content: ' - ';
      }
    }
  }

  &__option {
    position: relative;
    margin-bottom: 0;
    height: 50px;
    border: 1px solid #acacac;

    &.from {
      border-bottom: 3px solid #d9534f;

      &::after {
        content: '→';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: -23px;
      }
    }

    &.to {
      border-bottom: 3px solid #0096bd;
    }

    &__selector,
    select {
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
    }

    select {
      opacity: 0;
      z-index: 10;
      height: 100%;
      cursor: pointer;
    }

    &__selector {
      display: inline-block;
      z-index: 9;
      text-align: center;
      transform: translateY(-50%);
      top: 50%;
    }
  }

  &__result {
    position: relative;
    min-height: 100px;

    .pt-spinner {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
    }

    .result {
      text-align: center;
      margin: 20px 0;
      color: #888;

      &__exchange {
        display: block;
        font-size: 25px;
        word-break: break-word;

        .from {
          color: #d9534f;
        }

        .to {
          color: #0096bd;
        }
      }

      &__exchanged {
        font-size: 40px;
      }

      &__expand {
        margin-top: 10px;

        span {
          padding: 0 10px;
          display: inline-block;

          &:first-child {
            border-right: 1px solid #0275d8;
          }
        }
      }

      &__date {
        margin-top: 10px;
      }
    }
  }

  &__action {
    text-align: center;
    margin: 20px auto 0;
    max-width: 600px;

    .btn {
      width: 100%;
      margin-bottom: 10px;
      cursor: pointer;
      padding: 15px 20px;
    }
  }

  @media (max-width: 767px) {
    &__option {
      &.from {
        margin: 30px 0;

        &::after {
          content: '↓';
          bottom: -28px;
          top: auto;
          right: 50%;
          transform: translateX(-50%);
        }
      }
    }
  }
}
