<!DOCTYPE html>
<html lang="en">
<head>
    <title>React Technical test</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta charset="UTF-8">
</head>
<body>
    <div id="root" class="app-root"></div>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCILVkelAhyY5qkqWPXrLX27J8cmpQzEas&libraries=places"></script>
</body>
</html>
