a {
  &:hover {
    color: none;
    text-decoration: none;
  }
}

@-webkit-keyframes pt-spinner-animation {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes pt-spinner-animation {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.pt-spinner:not(.pt-svg-spinner) {
  width: 50px;
}

.pt-spinner:not(.pt-svg-spinner) .pt-spinner-svg-container {
  -webkit-animation-duration: 400ms;
  animation-duration: 400ms;
}

.pt-spinner.pt-svg-spinner {
  -webkit-animation-duration: 400ms;
  animation-duration: 400ms;
}

.pt-spinner .pt-svg-spinner-transform-group {
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
}

.pt-spinner path {
  stroke-width: 5;
}

.pt-spinner path {
  fill-opacity: 0;
}

.pt-spinner .pt-spinner-head {
  transition: stroke-dashoffset 200ms cubic-bezier(0.4, 1, 0.75, 0.9);
  stroke: rgba(92, 112, 128, 0.8);
  stroke-linecap: round;
}

.pt-spinner .pt-spinner-track {
  stroke: rgba(92, 112, 128, 0.2);
}

.pt-spinner.pt-small:not(.pt-svg-spinner) {
  width: 24px;
}

.pt-spinner.pt-small:not(.pt-svg-spinner) .pt-spinner-svg-container {
  -webkit-animation-duration: 400ms;
  animation-duration: 400ms;
}

.pt-spinner.pt-small.pt-svg-spinner {
  -webkit-animation-duration: 400ms;
  animation-duration: 400ms;
}

.pt-spinner.pt-small .pt-svg-spinner-transform-group {
  -webkit-transform: scale(0.24);
  transform: scale(0.24);
}

.pt-spinner.pt-small path {
  stroke-width: 12;
}

.pt-spinner.pt-large:not(.pt-svg-spinner) {
  width: 100px;
}

.pt-spinner.pt-large:not(.pt-svg-spinner) .pt-spinner-svg-container {
  -webkit-animation-duration: 450ms;
  animation-duration: 450ms;
}

.pt-spinner.pt-large.pt-svg-spinner {
  -webkit-animation-duration: 450ms;
  animation-duration: 450ms;
}

.pt-spinner.pt-large .pt-svg-spinner-transform-group {
  -webkit-transform: scale(1);
  transform: scale(1);
}

.pt-spinner.pt-large path {
  stroke-width: 3;
}

.pt-spinner:not(.pt-svg-spinner) {
  display: inline-block;
}

.pt-spinner:not(.pt-svg-spinner) .pt-spinner-svg-container {
  position: relative;
  width: 100%;
  height: 0;
  padding: 0;
  padding-bottom: 100%;
  -webkit-animation: pt-spinner-animation 400ms linear infinite;
  animation: pt-spinner-animation 400ms linear infinite;
}

.pt-spinner:not(.pt-svg-spinner).pt-no-spin .pt-spinner-svg-container {
  -webkit-animation: none;
  animation: none;
}

.pt-spinner:not(.pt-svg-spinner) svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.pt-svg-spinner {
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-animation: pt-spinner-animation 400ms linear infinite;
  animation: pt-spinner-animation 400ms linear infinite;
}

.pt-svg-spinner.pt-no-spin {
  -webkit-animation: none;
  animation: none;
}

.pt-svg-spinner-transform-group {
  -webkit-transform-origin: center;
  transform-origin: center;
}
